<h1>Data Lake Search Application</h1>
<div class="row" ng-if="!ctrl.currentUser">Please log in to see content</div>

<div class="row" ng-if="ctrl.currentUser">
  <div class="col-md-12">
    <tabset>
      <tab heading="Basic Search" select="ctrl.setMode('basic')">
        <ml-input qtext="ctrl.qtext" search="ctrl.newSearch(qtext)" template="fa" 
          class="search"></ml-input>
      </tab>
      <tab heading="Person Search" select="ctrl.setMode('person')">
        <person-search person="ctrl.person" search="ctrl.newSearch(qtext)"
          suggest="ctrl.suggest(value, field)" clear-text="ctrl.clearText()"></person-search>
      </tab>
    </tabset>
  </div>
</div>

<div class="search row" ng-if="ctrl.currentUser">
  <div class="col-md-3 right-col">
    <!--
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="ctrl.runMapSearch" ng-change="ctrl.toggleMapSearch()">
        Limit results to the visible map
      </label>
    </div>
    -->
    <ml-facets facets="ctrl.response.facets" toggle="ctrl.toggleFacet(facet, value)" 
      active-facets="ctrl.mlSearch.activeFacets" show-more="ctrl.mlSearch.showMoreFacets(facet, facetName)"
      negate="ctrl.toggleNegatedFacet(facet,value)"></ml-facets>
  </div>
  <div class="col-md-9">
    <h4 ng-if="ctrl.response.total === 0">No results to show</h4>
  <!--
    <ml-esri-search-map options="ctrl.mapOptions" features-list="ctrl.response.results" 
      facets="ctrl.myFacets.facets" 
      bounds-changed="ctrl.mapBoundsChanged(bounds)"></ml-esri-search-map>
  -->
    <br/>
    <div ng-if="ctrl.response.total > 0" class="results">
      <div class="row">
        <div class="col-sm-8">
          <div class="pagination-ctrls">
            <pagination class="pagination pagination-sm" ng-model="ctrl.page" 
              ng-change="ctrl.selectPage()" max-size="10" boundary-links="true" 
              total-items="ctrl.response.total" items-per-page="ctrl.response['page-length']">
            </pagination>
          </div>
        </div>
        <div class="col-sm-2">
          <p><b>Results per page:</b></p>
        </div>
        <div class="col-sm-2">
          <!-- <ml-snippet set-snippet="ctrl.setSnippet(type)"></ml-snippet> -->
          <form>
              <input ng-model="ctrl.pageLength" type="text" class="form-control" />
          </form>
        </div>
      <!--<set-sort set-sort="ctrl.setSort()" sort-options="ctrl.sortOptions"></set-sort>-->
      </div>
      <ml-metrics search="ctrl.response" ></ml-metrics>
      <search-results template="app/search/results/search-results-table.html" results="ctrl.response.results"
        toggle-sort="ctrl.toggleSort(field)"></search-results>
    </div>
  </div>
</div>