
<div class="content">
<div class="row" ng-if="!ctrl.currentUser">Please log in to see content</div>

<div class="row" ng-if="ctrl.currentUser">
  <div class="col-md-12">
    <tabset>
      <tab ng-show="!ctrl.abawdOnly" heading="Basic Search" select="ctrl.setMode('basic')" active="ctrl.searchParams.tabStatus.isBasicActive">
        <ml-input qtext="ctrl.qtext" search="ctrl.newSearch(qtext)" template="fa"
          class="search"></ml-input>
      </tab>
      <tab ng-show="!ctrl.abawdOnly" heading="Person Search" select="ctrl.setMode('person')" active="ctrl.searchParams.tabStatus.isPersonActive">
        <person-search person="ctrl.person" search="ctrl.newSearch(qtext)"
          suggest="ctrl.suggest(value, field)" clear-text="ctrl.clearText()"></person-search>
      </tab>
      <tab ng-show="!ctrl.abawdOnly" heading="Case Search" select="ctrl.setMode('case')" active="ctrl.searchParams.tabStatus.isCaseActive">
        <case-search case="ctrl.case" search="ctrl.newSearch(qtext)"
          suggest="ctrl.suggest(value, field)" clear-text="ctrl.clearText()"></case-search>
      </tab>
      <tab heading="ABAWD Report" select="ctrl.setMode('abawd')" active="true">
        <abawd-report case="ctrl.report" search="ctrl.newSearch(qtext)"
          suggest="ctrl.suggest(value, field)" clear-text="ctrl.clearText()"></abawd-report>
      </tab>
    </tabset>
  </div>
</div>

<div class="search row" ng-if="ctrl.currentUser">
  <div class="col-sm-2 right-col">
    <!--
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="ctrl.runMapSearch" ng-change="ctrl.toggleMapSearch()">
        Limit results to the visible map
      </label>
    </div>
    -->
    <ml-facets facets="ctrl.response.facets" toggle="ctrl.toggleFacet(facet, value)"
      active-facets="ctrl.mlSearch.activeFacets" show-more="ctrl.mlSearch.showMoreFacets(facet, facetName)"
      negate="ctrl.toggleNegatedFacet(facet,value)"></ml-facets>
  </div>
  <div class="col-md-9" ng-show="ctrl.isSearchPending()">
    <div id="floatingCirclesG">
      <div class="f_circleG" id="frotateG_01"></div>
      <div class="f_circleG" id="frotateG_02"></div>
      <div class="f_circleG" id="frotateG_03"></div>
      <div class="f_circleG" id="frotateG_04"></div>
      <div class="f_circleG" id="frotateG_05"></div>
      <div class="f_circleG" id="frotateG_06"></div>
      <div class="f_circleG" id="frotateG_07"></div>
      <div class="f_circleG" id="frotateG_08"></div>
    </div>
  </div>
  <div class="col-md-9" ng-hide="ctrl.isSearchPending()">
    <h4 ng-if="ctrl.response.total === 0">No results to show</h4>
  <!--
    <ml-esri-search-map options="ctrl.mapOptions" features-list="ctrl.response.results"
      facets="ctrl.myFacets.facets"
      bounds-changed="ctrl.mapBoundsChanged(bounds)"></ml-esri-search-map>
  -->
    <br/>
    <div ng-if="ctrl.response.total > 0" class="results">
      <div class="row">
        <div class="col-sm-8">
          <div class="pagination-ctrls">
            <pagination class="pagination pagination-sm" ng-model="ctrl.searchParams.page"
              ng-change="ctrl.selectPage()" max-size="10" boundary-links="true"
              total-items="ctrl.response.total" items-per-page="ctrl.response['page-length']">
            </pagination>
          </div>
        </div>
        <div class="col-sm-2">
          <p><b>Results per page:</b></p>
        </div>
        <div class="col-sm-2">
          <!-- <ml-snippet set-snippet="ctrl.setSnippet(type)"></ml-snippet> -->
          <form>
              <input ng-model="ctrl.searchParams.pageLength" type="text" class="form-control" />
          </form>
        </div>
      <!--<set-sort set-sort="ctrl.setSort()" sort-options="ctrl.sortOptions"></set-sort>-->
      </div>
      <ml-metrics search="ctrl.response" ></ml-metrics>
      <search-results template="app/search/results/search-results-table.html" results="ctrl.response.results"
        toggle-sort="ctrl.toggleSort(field)"></search-results>
    </div>
  </div>
</div>
</div>
